USE [master]
GO
/****** Object:  Database [MyBoardDb]    Script Date: 05.08.2022 19:31:47 ******/
CREATE DATABASE [MyBoardDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyBoardDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MyBoardDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyBoardDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MyBoardDb_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyBoardDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyBoardDb]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 05.08.2022 19:31:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](450) NULL,
	[Email] [nvarchar](450) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkItems]    Script Date: 05.08.2022 19:31:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StateId] [int] NOT NULL,
	[Area] [nvarchar](max) NULL,
	[IterationPath] [nvarchar](max) NULL,
	[Priority] [int] NOT NULL,
	[AuthorId] [uniqueidentifier] NOT NULL,
	[Discriminator] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](3) NULL,
	[Efford] [decimal](5, 2) NULL,
	[Activity] [nvarchar](max) NULL,
	[RemainingWork] [decimal](14, 2) NULL,
 CONSTRAINT [PK_WorkItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_TopAuthors]    Script Date: 05.08.2022 19:31:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[View_TopAuthors] as 
select top 5 Users.FullName, count(*) as WorkItemsCreated
from Users
join WorkItems on WorkItems.AuthorId = Users.Id
group by users.id, users.FullName
order by WorkItemsCreated desc

GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 05.08.2022 19:31:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 05.08.2022 19:31:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [uniqueidentifier] NOT NULL,
	[Country] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[Street] [nvarchar](max) NULL,
	[PostalCode] [nvarchar](max) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Coordinate_Latitude] [decimal](18, 7) NULL,
	[Coordinate_Longitude] [decimal](18, 7) NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 05.08.2022 19:31:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[WorkItemId] [int] NOT NULL,
	[AuthorId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 05.08.2022 19:31:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkItemStates]    Script Date: 05.08.2022 19:31:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkItemStates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_WorkItemStates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkItemTag]    Script Date: 05.08.2022 19:31:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkItemTag](
	[WorkItemId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
	[PublicationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_WorkItemTag] PRIMARY KEY CLUSTERED 
(
	[TagId] ASC,
	[WorkItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220804131638_Init', N'6.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220804132829_UserFullName', N'6.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220804141935_UserToCommentAdded', N'6.0.7')
GO
INSERT [dbo].[Addresses] ([Id], [Country], [City], [Street], [PostalCode], [UserId], [Coordinate_Latitude], [Coordinate_Longitude]) VALUES (N'74a154c0-69b6-4b1f-47c1-08da10ab0e66', N'Belgium', N'East Mossie', N'Wehner Stravenue', N'45351-2077', N'5cb27c3f-32d9-4474-cbc2-08da10ab0e61', NULL, NULL)
INSERT [dbo].[Addresses] ([Id], [Country], [City], [Street], [PostalCode], [UserId], [Coordinate_Latitude], [Coordinate_Longitude]) VALUES (N'95b7a32a-8d7c-4f6d-47c2-08da10ab0e66', N'Finland', N'Runtestad', N'Towne Stravenue', N'36665-9042', N'0e6d4c9b-e5b8-4541-cbc3-08da10ab0e61', NULL, NULL)
INSERT [dbo].[Addresses] ([Id], [Country], [City], [Street], [PostalCode], [UserId], [Coordinate_Latitude], [Coordinate_Longitude]) VALUES (N'91106229-4e24-4c9c-47c3-08da10ab0e66', N'Switzerland', N'Morganland', N'Myles Prairie', N'97800', N'78cf834e-7724-4995-cbc4-08da10ab0e61', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([Id], [Message], [CreatedDate], [UpdatedDate], [WorkItemId], [AuthorId]) VALUES (1, N'Laboriosam et ducimus.
Facere fugiat voluptatum quia facilis odit non.
Similique iusto et deleniti sunt ut nemo.', CAST(N'2022-04-21T20:27:01.2074927' AS DateTime2), NULL, 32, N'68366dbe-0809-490f-cc1d-08da10ab0e61')
INSERT [dbo].[Comments] ([Id], [Message], [CreatedDate], [UpdatedDate], [WorkItemId], [AuthorId]) VALUES (2, N'Enim expedita consequatur est et molestias voluptate.
Repellendus placeat assumenda nulla dolorum non ut reiciendis.
Consequatur nobis deserunt.', CAST(N'2022-07-08T09:26:07.8351202' AS DateTime2), NULL, 11, N'6eb04543-f56b-4827-cc11-08da10ab0e61')
INSERT [dbo].[Comments] ([Id], [Message], [CreatedDate], [UpdatedDate], [WorkItemId], [AuthorId]) VALUES (3, N'Labore quo maxime repellat.
Quaerat in quo.
Rem qui odit qui.', CAST(N'2022-05-09T22:01:49.9892637' AS DateTime2), NULL, 43, N'7b84dc1c-597f-470f-cbec-08da10ab0e61')
GO
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([Id], [Value]) VALUES (1, N'Web')
INSERT [dbo].[Tags] ([Id], [Value]) VALUES (2, N'UI')
INSERT [dbo].[Tags] ([Id], [Value]) VALUES (3, N'Desktop')
SET IDENTITY_INSERT [dbo].[Tags] OFF
GO
INSERT [dbo].[Users] ([Id], [FullName], [Email]) VALUES (N'e195a77f-d6ee-43c9-cbf7-08da10ab0e61', N'Anthony Boyer', N'Anthony.Boyer@gmail.com')
INSERT [dbo].[Users] ([Id], [FullName], [Email]) VALUES (N'1efa050d-fd55-46ed-cc18-08da10ab0e61', N'Antoinette Koelpin', N'Antoinette_Koelpin@yahoo.com')
INSERT [dbo].[Users] ([Id], [FullName], [Email]) VALUES (N'ca5e3e47-ec21-4ddb-cc1b-08da10ab0e61', N'Austin Lesch', N'Austin.Lesch@yahoo.com')
GO
SET IDENTITY_INSERT [dbo].[WorkItems] ON 

INSERT [dbo].[WorkItems] ([Id], [StateId], [Area], [IterationPath], [Priority], [AuthorId], [Discriminator], [StartDate], [EndDate], [Efford], [Activity], [RemainingWork]) VALUES (1, 4, N'Jewelery & Games', N'Grocery', 1, N'9a8e164a-f3c2-40c3-cbcd-08da10ab0e61', N'Epic', CAST(N'2022-08-05T08:20:46.9400564' AS DateTime2), CAST(N'2022-06-16T05:14:10.7060000' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[WorkItems] ([Id], [StateId], [Area], [IterationPath], [Priority], [AuthorId], [Discriminator], [StartDate], [EndDate], [Efford], [Activity], [RemainingWork]) VALUES (2, 3, N'Tools, Sports & Music', N'Outdoors & Industrial', 5, N'3bac0b2c-a521-4172-cbe9-08da10ab0e61', N'Epic', CAST(N'2022-04-06T12:48:52.6158976' AS DateTime2), CAST(N'2022-06-17T17:24:33.8940000' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[WorkItems] ([Id], [StateId], [Area], [IterationPath], [Priority], [AuthorId], [Discriminator], [StartDate], [EndDate], [Efford], [Activity], [RemainingWork]) VALUES (3, 5, N'Automotive', N'Clothing, Shoes & Garden', 3, N'1efa050d-fd55-46ed-cc18-08da10ab0e61', N'Epic', CAST(N'2022-04-10T04:23:23.2931139' AS DateTime2), CAST(N'2022-07-08T08:36:04.2610000' AS DateTime2), NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[WorkItems] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkItemStates] ON 

INSERT [dbo].[WorkItemStates] ([Id], [Value]) VALUES (1, N'To Do')
INSERT [dbo].[WorkItemStates] ([Id], [Value]) VALUES (2, N'Doing')
INSERT [dbo].[WorkItemStates] ([Id], [Value]) VALUES (3, N'Done')
SET IDENTITY_INSERT [dbo].[WorkItemStates] OFF
GO
INSERT [dbo].[WorkItemTag] ([WorkItemId], [TagId], [PublicationDate]) VALUES (1, 1, CAST(N'2022-03-28T11:06:49.6533333' AS DateTime2))
INSERT [dbo].[WorkItemTag] ([WorkItemId], [TagId], [PublicationDate]) VALUES (2, 1, CAST(N'2022-03-28T11:06:49.6533333' AS DateTime2))
INSERT [dbo].[WorkItemTag] ([WorkItemId], [TagId], [PublicationDate]) VALUES (3, 1, CAST(N'2022-03-28T11:06:49.6533333' AS DateTime2))
GO
/****** Object:  Index [IX_Addresses_UserId]    Script Date: 05.08.2022 19:31:48 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Addresses_UserId] ON [dbo].[Addresses]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_AuthorId]    Script Date: 05.08.2022 19:31:48 ******/
CREATE NONCLUSTERED INDEX [IX_Comments_AuthorId] ON [dbo].[Comments]
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_WorkItemId]    Script Date: 05.08.2022 19:31:48 ******/
CREATE NONCLUSTERED INDEX [IX_Comments_WorkItemId] ON [dbo].[Comments]
(
	[WorkItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email_FullName]    Script Date: 05.08.2022 19:31:48 ******/
CREATE NONCLUSTERED INDEX [IX_Users_Email_FullName] ON [dbo].[Users]
(
	[Email] ASC,
	[FullName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkItems_AuthorId]    Script Date: 05.08.2022 19:31:48 ******/
CREATE NONCLUSTERED INDEX [IX_WorkItems_AuthorId] ON [dbo].[WorkItems]
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkItems_StateId]    Script Date: 05.08.2022 19:31:48 ******/
CREATE NONCLUSTERED INDEX [IX_WorkItems_StateId] ON [dbo].[WorkItems]
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkItemTag_WorkItemId]    Script Date: 05.08.2022 19:31:48 ******/
CREATE NONCLUSTERED INDEX [IX_WorkItemTag_WorkItemId] ON [dbo].[WorkItemTag]
(
	[WorkItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [AuthorId]
GO
ALTER TABLE [dbo].[WorkItems] ADD  DEFAULT ((1)) FOR [Priority]
GO
ALTER TABLE [dbo].[WorkItemTag] ADD  DEFAULT (getutcdate()) FOR [PublicationDate]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Users_UserId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users_AuthorId] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users_AuthorId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_WorkItems_WorkItemId] FOREIGN KEY([WorkItemId])
REFERENCES [dbo].[WorkItems] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_WorkItems_WorkItemId]
GO
ALTER TABLE [dbo].[WorkItems]  WITH CHECK ADD  CONSTRAINT [FK_WorkItems_Users_AuthorId] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkItems] CHECK CONSTRAINT [FK_WorkItems_Users_AuthorId]
GO
ALTER TABLE [dbo].[WorkItems]  WITH CHECK ADD  CONSTRAINT [FK_WorkItems_WorkItemStates_StateId] FOREIGN KEY([StateId])
REFERENCES [dbo].[WorkItemStates] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkItems] CHECK CONSTRAINT [FK_WorkItems_WorkItemStates_StateId]
GO
ALTER TABLE [dbo].[WorkItemTag]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemTag_Tags_TagId] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tags] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkItemTag] CHECK CONSTRAINT [FK_WorkItemTag_Tags_TagId]
GO
ALTER TABLE [dbo].[WorkItemTag]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemTag_WorkItems_WorkItemId] FOREIGN KEY([WorkItemId])
REFERENCES [dbo].[WorkItems] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkItemTag] CHECK CONSTRAINT [FK_WorkItemTag_WorkItems_WorkItemId]
GO
USE [master]
GO
